@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  dl {
    dt {
      display: list-item;
      @apply font-bold;
    }
    dd {
      @apply ml-4;
    }
    p {
      @apply my-0;
    }
  }
  p {
    @apply my-4;
  }
  body {
    @apply font-serif;
    font-size: 16pt;
    line-height: 1.6;
    margin: 0 5% 1rem;
  }
  article {
    a:after {
      content: "";
    }
  }
  a {
    color: #000;
    text-decoration: inherit;
    transition: all 100ms ease-in-out;
    @apply rounded;
    @apply px-2 -mx-2;
    &:hover {
      background-color: #f4e5fbe0;
    }
    &:active {
      color: #555;
    }
  }
  p a {
    @apply underline;
    &:hover {
      background-color: unset;
    }
  }
  h1,
  h2 {
    font-family: serif;
    @apply font-serif;
  }
  h1 {
    font-size: 34pt;
    margin: 0;
  }
}

@layer components {
  .navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 15cm;
    font-size: 20pt;
    align-items: center;
  }
  #content {
    min-width: 30%;
    grid-column: content;
    grid-row: content;
    max-width: 15cm;
  }
  .listing {
    position: fixed;
    left: 60%;
  }
  footer {
    grid-row: footer;
    grid-column: content;
  }
  @media (max-width: 1200px) {
    #container {
      grid-template-columns: [content] 34rem [sidebar] 2fr;
      margin: 20mm 5%;
    }
  }
  @media (max-width: 1000px) {
    #container {
      grid-template-columns: [content sidebar] 1fr;
      grid-template-rows: [content] minmax(20rem, 1fr) [footer] auto;
      margin: 10mm 2%;
      grid-gap: 0;
    }
    .navigation,
    #content {
      max-width: 100%;
    }
    div.listing ul {
      column-count: 2;
    }
    .listing {
      position: static;
      grid-column: sidebar;
      grid-row: 3;
    }
  }

  @media (max-width: 690px) {
    #container {
      margin: 0 1%;
    }
    div.listing ul {
      column-count: 1;
    }
  }
}

@layer utilities {
  a.out::after {
    content: "°";
  }
  .just-cjk {
    @apply font-cjk;
  }
}
