<div class="listing font-serif">
  <h2 class="mt-8 font-bold">
    {{ if .backHome }}
    <a href="/">{{ .top }}</a>
    {{ else }}
    <!-- prettier-ignore -->
    {{ .top }}
    {{ end }}
  </h2>
  <ul>
    {{ range .nodes }}
    <li class="w-80 listing-item">
      <a
        class="flex gap-x-2 justify-between items-baseline"
        href="{{ .Permalink }}"
        ><span class="title">{{.Title}}</span>
        <time
          class="font-serif text-[14pt] text-grey-a"
          datetime="{{.Date.Format .Site.Params.iso8601}}"
          >{{.Date.Format (i18n "date_format")}}</time
        ></a
      >
    </li>
    {{ end }}
  </ul>
</div>
