<div class="flex my-4 m-auto w-3/4 justify-between font-bold">
  <div>
    {{ with (partial "func-regular-pages" .Site).Next . }}
    <a href="{{.Permalink}}">◁</a>
    {{ else }}<span class="opacity-40">◁</span>{{ end }}
  </div>
  <div><a href="/">≡</a></div>
  <div>
    {{ with (partial "func-regular-pages" .Site).Prev . }}
    <a href="{{.Permalink}}">▷</a>
    {{ else }}<span class="opacity-40">▷</span>{{ end }}
  </div>
</div>

<ul class="">
  {{ range .AllTranslations }}
  <li><a href="{{.Permalink}}">{{ .Language }}</a></li>
  {{ end }}
</ul>
