<!DOCTYPE html>
<html lang="zh_TW">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    {{ if .Title }}
      <title>{{ .Title }} - {{ i18n "title" }}</title>
    {{ else }}
      <title>{{ i18n "title" }}</title>
    {{ end }}
    <meta name="description" content={{ i18n "desc" }} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Kisaragi Hiu" />
    <meta name="keywords" content="Poems" />
    <link rel="icon" href="/favicon.png" />
    <link rel="canonical" href="{{ .Permalink | absURL }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href={{ i18n "font_url"}} rel="stylesheet" />
    <style>
      #container {
        display: grid;
        grid-template-columns: 1fr [content] 40rem [sidebar] 20rem 1fr;
        grid-template-rows: 2rem [content] minmax(56vh, auto) [footer] auto;
        grid-gap: 3rem;
        margin: 0 20mm;
      }
    </style>
    {{ block "css" . }} {{ end }}
    <link rel="stylesheet" href="/css/built.css" />
  </head>
  <body>
    <div id="container">
      {{ block "main" . }}
      <!-- Contents -->
      <div id="content">
        <h1>{{.Title}}</h1>
        {{ .Content }}
      </div>
      <footer>
        {{ partial "navigation" (dict "top" "abc" "nodes" .Pages) }}
      </footer>
      {{ partial "listing" . }} {{ end }}
    </div>
  </body>
</html>
