{{ define "main" }}

<div id="content">
  <h1>{{.Title}}</h1>
  {{ .Content }}
</div>

{{ if not .Params.special }}
<footer>{{ partial "navigation" . }}</footer>
{{ end }}

<!-- prettier-ignore -->
{{ partial "listing" (dict "top" (i18n "title")
                           "backHome" true
                           "nodes" (partial "func-regular-pages" .Site))}}

<!-- prettier-ignore -->
{{ end }}
