{{ define "main" }}

<div id="content">
  <!-- prettier-ignore -->
  {{ partial "cover" (dict "title" (i18n "title")) }}
  {{ .Content }}
</div>

<footer>
  <p>
    {{ i18n "publish_date" }}
    <a href="/versions">{{ i18n "version" }}</a>
  </p>
  <p>{{ safeHTML (i18n "copyright") }}</p>
</footer>

{{ partial "listing" (dict "top" (i18n "menu") "nodes" (partial
"func-regular-pages" .)) }}

<!-- prettier-ignore -->
{{ end }}

{{ define "css" }}
<style>
  .cover {
    grid-row: heading;
    grid-column: content;
  }
</style>
{{ end }}
